* {
   margin: 0;
   padding: 0;
}

.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 15px;
   border-bottom: 1px solid black;
}

.header .logo-container {
   width: 80px;
   height: 80px;
   cursor: pointer;
}

.header .logo-container .logo {
   width: 100%;
   height: auto;
   border-radius: 20px;
}

.header .nav-items ul {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header .nav-items ul li {
   list-style: none;
   padding: 10px 20px;
   cursor: pointer;
}

.header .nav-items ul button {
   list-style: none;
   padding: 10px 20px;
   margin: 0 15px;
   cursor: pointer;
}

.header .nav-items ul li a {
   text-decoration: none;
   color: #000;
   font-size: 1.2rem;
   font-weight: 500;
}

.footer {
   display: flex;
   background-color: rgb(2, 6, 12);
   color: #fff;
   min-height: 200px;
   padding: 15px 100px;
}

.footer .footer-text {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.body,
.about,
.contact,
.restaurant-menu {
   min-height: 450px;
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   padding: 15px;
}

.search,
.filter {
   padding: 10px;
}

.search button,
.search input,
.filter button {
   padding: 5px;
   cursor: pointer;
   margin: 0 10px 0 0;
   border-radius: 2px;
}

.restaurant-card {
   color: black;
   text-decoration: none;
   display: inline-flex;
   margin: 10px;
}

.restaurant-card:hover {
   transform: scale(0.95, 0.95);
   transform-origin: center center;
   transition: all 0.1s ease-in 0s;
}

.restaurant-card .restaurant-container {
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   width: 250px;
   height: 300px;
   background: #F4F4F4;
   border: 1px solid #000;
   border-radius: 5px;
}

.restaurant-card .restaurant-container .res-image img {
   width: 100%;
   height: 180px;
   border-top-right-radius: 5px;
   border-top-left-radius: 5px;
}

.restaurant-card .restaurant-container .res-details {
   padding: 10px;
}

.restaurant-card .restaurant-container .res-details .res-details-double-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 5px 0;
}

.restaurant-card .restaurant-container .res-details .res-details-double-container .cuisine {
   max-width: 120px;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

.restaurant-card .restaurant-container .res-details .res-details-double-container .location {
   max-width: 150px;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

.shimmer-card-container {
   display: flex;
   flex-wrap: wrap;
}

.shimmer-card-container .shimmer-card {
   width: 250px;
   height: 300px;
   border: 1px solid #000;
   border-radius: 5px;
   margin: 10px;

   background: #ddd;
   position: relative;
   padding: 20px;
   box-sizing: border-box;
}

.shimmer-card-container .shimmer-card .line {
   width: 100%;
   height: 20px;
   background: #bbb;
   margin: 20px 0;
   border-radius: 5px;
}

.shimmer-card-container .shimmer-card .shimmer {
   position: absolute;
   top: 0;
   left: 0;
   width: 50%;
   height: 100%;
   background: linear-gradient(100deg, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 80%);
   animation: shimmer 2s infinite linear;
}

@keyframes shimmer {
   from {
      transform: translateX(-200%);
   }

   to {
      transform: translateX(200%);
   }
}


.shimmer-menu-container {
   display: flex;
   flex-wrap: wrap;
}

.shimmer-menu-container .shimmer-card {
   width: 100%;
   height: 450px;
   padding: 15px;
   position: relative;
   box-sizing: border-box;
}

.shimmer-menu-container .shimmer-card li {
   width: 100%;
   height: 20px;
   list-style: none;
   list-style-position: inside;
}

.shimmer-menu-container .shimmer-card .line {
   width: 100%;
   height: 20px;
   background: #bbb;
   margin: 20px 0;
   border-radius: 5px;
}

.shimmer-menu-container .shimmer-card .line:first-child {
   margin-top: 0;
}

.shimmer-menu-container .shimmer-card .shimmer {
   position: absolute;
   top: 0;
   left: 0;
   width: 50%;
   height: 100%;
   background: linear-gradient(100deg, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 80%);
   animation: shimmer 2s infinite linear;
}

@keyframes shimmer {
   from {
      transform: translateX(-200%);
   }

   to {
      transform: translateX(200%);
   }
}

.restaurant-menu .back-home-btn {
   padding: 5px;
   margin: 10px 0;
   cursor: pointer;
}

.restaurant-menu h2 {
   margin: 0 0 10px;
}

.restaurant-menu h3 {
   margin: 10px 0 0;
   text-decoration: underline;
}

.restaurant-menu ul>li {
   padding: 5px 0;
   margin-left: 10px;
   list-style-position: inside;
}

.restaurant-menu .menu-list {
   margin: 10px 0;
}

.restaurant-menu .menu-list .menulist-container {
   margin-bottom: 20px;
   border-bottom: 1px solid grey;
}

.restaurant-menu .menu-list .menulist-container .menulist-name {
   font-weight: 700;
   font-size: 1.2rem;
}

.restaurant-menu .menu-list .menuitem-container {
   border-bottom: 1px dotted grey;
}

.restaurant-menu .menu-list .menuitem-container .menuitem-name {
   font-weight: 600;
   font-size: 1.1rem;
   margin: 10px 0;
}

.restaurant-menu .menu-list .menusubitem-container {
   display: flex;
   flex-wrap: wrap;
}

.restaurant-menu-subitem {
   display: flex;
   flex-direction: column;
   margin-bottom: 20px;
   width: 50%;

}

.restaurant-menu-subitem .subitem-card {
   display: flex;
   justify-content: flex-start;
}

.restaurant-menu-subitem .subitem-card .image {
   width: 150px;
   height: 150px;
   margin-right: 15px
}

.restaurant-menu-subitem .subitem-card .image img {
   width: 150px;
   height: 150px;
   border-radius: 10px;
}

.restaurant-menu-subitem .subitem-card .content-text {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   padding: 10px;
}

.restaurant-menu-subitem .subitem-card .content-text .heading {
   font-weight: 600;
}

.restaurant-menu-subitem .subitem-card .content-text .price,
.description {
   color: grey;
   font-size: 14px;
}

.restaurant-menu-subitem .subitem-card .content-text .description {
   margin-top: 20px;
}